.btn {
  --clr-button: #bbd0ff;
  --clr-button-border: #b8c0ff;
  font-size: 1.5rem;
  padding: 1em 2em;
  border-radius: 50px;
  background-color: var(--clr-button);
  border: 5px solid var(--clr-button-border);
  width: fit-content;
  margin: 0 auto;
  text-transform: capitalize;
}
