@import '../../styles.css';

.btn {
  --clr-button: #bbd0ff;
  --clr-button-border: #b8c0ff;
  font-size: 2rem;
  font-family: var(--ff-title);
  padding: 0.7em 1.5em;
  border-radius: 50px;
  background-color: var(--clr-button);
  border: 5px solid var(--clr-button-border);
  width: fit-content;
  margin: 0 auto;
  text-transform: capitalize;
  filter: drop-shadow(0 0 0.3rem black);
}

.btn:hover {
  filter: brightness(1.1);
  /* filter: drop-shadow(0 0 0.3rem black); */
}