@import '../../styles.css';

.body-container {
  width: 80%;
  margin: 2rem auto;

  /* display: flex;
  flex-direction: column;
  align-content: center; */

  display: grid;
  grid: 0.2fr 1fr / 1fr;
  text-align: center;
}

.body-container h2 {
  width: 80%;
  margin: 2rem auto 3rem;
  font-size: 3rem;
  border-bottom: 3px solid black;
  border-bottom-width: 50%;
}

.body-container h3 {
  margin-bottom: 0.5rem;
}


.body-container h2,
.body-container h3 {
  font-family: var(--ff-title);
}

.menu-container {
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
  gap: 30px 10px;
  position: relative;
}

.boba {
  max-height: 250px;
  /* max-width: 123px; */
  /* position: relative; */
}

.item {
  width: 100%;
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
}

.item h3 {
  width: 70%;
  margin: 0 auto;
  border-bottom: 2px solid black;
}

/* REF */
/* https://stackoverflow.com/questions/16818792/center-a-pseudo-element */
.item span::before {
  content: '';
  position: absolute;
  line-height: normal;
  background-color: aliceblue; 
  height: 70px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid rgb(217, 217, 217);
  z-index: -1;
  isolation: isolate;

  bottom: 65px;
  left: 50%;
  margin-left: -97px;
  
}