/* Hero */
/* REF: https://www.w3schools.com/howto/howto_css_hero_image.asp */
@import '../../styles.css';

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../images/site/cafe.jpg');
  min-height: 93svh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hero-container {
  /* min-height: 90svh; */
  color: #fff;
  font-size: 4rem;
  font-family: var(--ff-title);

  display: flex;
  gap: 10px;
}

.hero-container img {
  align-self: center;
  filter: invert(100%);
}

/* Hero Sub */
.sub-container {
  display: grid;
  grid: 1fr / repeat(3, 1fr);
  place-items: center;
  text-align: center;
  width: 80%;
  margin: 5rem auto;
}

.sub-text {
  display: grid;
  grid: 2fr 1fr 1fr / 1fr;
  gap: 3em;
}

.sub-text h2 {
  font-family: var(--ff-title);
  font-size: 4rem;
}

.sub-text p {
  font-family: var(--ff-subtitle);
  font-size: 1.5rem;
}

.left-image img,
.right-image img {
  margin-block: 5rem;
  filter: drop-shadow(0 0 0.5rem black);
}

.left-image {
  justify-self: start;
  align-self: end;
}

.left-image img {
  max-width: 70%;
  transform: rotateZ(30deg);
}

.right-image {
  justify-self: end;
  align-self: start;
}

.right-image img {
  max-width: 70%;
  transform: rotateZ(-30deg);
}

/* Hero Fact Section */
.fact-container {
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  width: 80%;
  background-color: var(--clr-body-secondary);
  margin: 0 auto;
  font-family: var(--ff-title);
  font-size: 1.3rem;
  padding: 3rem 0;
}

.fact-img {
  place-self: center;
  transform: rotateZ(3deg);
  filter: drop-shadow(0 0 0.5rem black);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 4rem;
  text-transform: capitalize;
}

.info {
  display: flex;
  gap: 10px;
}

.info img {
  height: 150%;
  align-self: center;
}

/* Location Section */
.location-section {
  width: 80%;
  margin: 7rem auto;
}

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 40px;
  padding-bottom: 2rem;
}

.location-container h2 {
  font-size: 2rem;
}