/* Navbar */
@import '../../styles.css';

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--clr-body-primary);
}

.nav-bar {
  margin: 0 auto;
  padding-block: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.nav-bar img {
  align-self: flex-start;
}

.nav-item {
  display: flex;
  place-self: center;
  gap: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.nav-item:hover {
  scale: 1.1;
}

.home-item {
  font-size: 1.1rem;
}