/* Global */
@font-face {
  font-family: 'DroidSans';
  src: url(../fonts/droid-sans.bold.ttf);
}

@font-face {
  font-family: 'MuktaVaaniRegular';
  src: url(../fonts/MuktaVaani-Regular.ttf);
}

@font-face {
  font-family: 'BiryaniRegular';
  src: url(../fonts/Biryani-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font families */
  --ff-title: 'DroidSans';
  --ff-subtitle: 'MuktaVaaniRegular';
  --ff-text: 'BiryaniRegular';

  /* Colors */
  --clr-body-primary: #ffd6ff;
  --clr-body-secondary: #e7c6ff;
  --clr-body-extra: #b8c0ff;
  --clr-footer: #c8b6ff;
  --clr-button: #bbd0ff;
}

body,
html {
  height: 100%;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-body-primary);
}

@keyframes wipe-in-up {
  /* from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  } */

  0% {
    clip-path: inset(0 0 0 0);
  }

  50% {
    clip-path: inset(100% 0 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

.wrapper {
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-up both;
}

@keyframes showInHeader {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-header {
  animation: 0.7s showInHeader forwards;
}

@keyframes showInSubheader {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-subheader {
  animation: 0.7s showInSubheader forwards;
}

@keyframes showInText {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.show-text {
  animation: 1s showInText forwards;
}