/* Global */
@font-face {
  font-family: 'DroidSans';
  src: url(../fonts/droid-sans.bold.ttf);
}

@font-face {
  font-family: 'MuktaVaaniRegular';
  src: url(../fonts/MuktaVaani-Regular.ttf);
}

@font-face {
  font-family: 'BiryaniRegular';
  src: url(../fonts/Biryani-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font families */
  --ff-title: 'DroidSans';
  --ff-subtitle: 'MuktaVaaniRegular';
  --ff-text: 'BiryaniRegular';

  /* Colors */
  --clr-body-primary: #FFD6FF;
  --clr-body-secondary: #E7C6FF;
  --clr-body-extra: #B8C0FF;
  --clr-footer: #C8B6FF;
  --clr-button: #BBD0FF;
}

body, html {
  height: 100%;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-body-primary);
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.wrapper {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}